body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 7px;
    background-color: rgb(14, 135, 71);
    color: aliceblue;
    font-size: 1.5rem;
    font-family: monospace;
}

button:hover{
    background-color:rgb(80, 180, 127) ;
}

h1{
    font-family: monospace;
    font-size: 2.5rem;
    color: rgb(28, 100, 100);
}